jupyter-ai==3.2.0
jupyter-ai-jupyternaut==0.1.0b1
jupyter-ai-litellm==0.1.0
jupyter-ai-tools==0.7.0
jupyter-ai-router==0.1.1
jupyter-ai-persona-manager==0.2.0
jupyter-server-mcp==0.3.0
jupyterlab-commands-toolkit==0.2.0
jupyterlab-chat==0.25.0
langgraph-checkpoint-sqlite==3.1.1
keyring>=25,<26
openai>=1.0,<3
pywebview==6.2.1
